{% extends 'base.html'%}
{% import 'macros.html' as macro%}


{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock%}
{% block content %}
<img src="/static/img/photo.jpeg" alt="image" height="350px" width="1300px">

<hr>
<div style="text-align:center;background-color: ghostwhite;">
    <h3>Quote Of The Day</h3>
</div>
<hr>
<div class="cards-two" style="background-color:dimgray;border-radius: 5px;font-weight: 800;">
    <h4>Quote by {{quote[0]}}</h4>
    <p>~<em>{{quote[1]}}</em></p>
</div>
<br>
<div class="container-fluid" style="background-color:beige;">
    <div class="row" id="one">
        <div class="col-md-8">

            <div class="cards">
                <a class="btn btn-success btn-lg text-center" href="/new_blog"> NEW BLOG
                </a>
                <hr>

            </div>

            <div class="row">
                <div class="col-md-6">

                    {% for blog in index %}
                    <div class="card-three" style="background-color:dimgray;border-radius: 5px;">
                        <div style="text-align:center;padding-top: 5px;">
                            <h4>BLOGS</h4>
                        </div>

                        <hr>
                        <h3>{{blog.body}}</h3>
                        <p>By:{{blog.post}}</p>
                        <p>Posted at {{blog.date_posted}}</p>
                        <hr>
                        <div style="text-align:center;font-size: 18px;">
                            <p><a href="/comment">leave comment</a></p>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>


    </div>
</div> -->
{% endblock%}