<div class="mynavbar" style="background-color: dimgray;">
    <p><a href="/">Home</a></p>
    <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">{{current_user.username| capitalize}} <span
                    class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{url_for('main.index',uname=current_user.username)}}">Profile</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
            </ul>
        </li>
        {% else %}
        <li style="font-size : 20px;"><a href="{{url_for('auth.login')}}">Sign in</a></li>
    </ul>
    {%endif%}

</div>