<div>
    <div class="navbar navbar-inverse" role="navigation"
        style="background-color:rgba(105, 105, 105, 0.562);height: px;">

        <div class="navbar-collapse collapse" style=""><br>
            <li style="font-size: 30px"><a href="/">Home</a></li>
            </ul>
            </p><a href="https://web.facebook.com/"><img src="/static/img/facebook.png" alt="" height="15px"
                    width="20px"></a>
            <a href="https://twitter.com/"><img src="/static/img/Twitter.jpg" alt="" height="15px" width="20px">
            </a>
            <a href="https://www.instagram.com/"><img src="/static/img/download.jpeg" alt="" height="15px" width="20px">
            </a>
            </p>

            <div>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">{{current_user.username| capitalize}} <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{url_for('main.index',uname=current_user.username)}}">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li style="font-size : 20px;"><a href="{{url_for('auth.login')}}">Sign in</a></li>
                </ul>
                {%endif%}
            </div>

        </div>

    </div>
</div>